.breadcrumbs {
    display: inline-flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $place-color;
    margin-left: 4px;

    &__svg {
        margin-right: 4px;
    }

    @media (min-width: 768px) {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        white-space: nowrap;

        &__svg {
            height: 47px;
            width: 21px;
        }

    }

}