.main {
    margin-top: 30px;
    padding: 0 30px;

    &__headline {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        @include gradient-text;

        @media (min-width:768px) {
            font-size: 38px;
            line-height: 46px;
        }

        @media (min-width: 991px) {
            padding: 0 180px;
        }
    }

    &__head {
        margin-bottom: 30px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $links-btn-color;

    }

    &__link:hover {
        color: $button-bg-color;

    }

    &__link svg {
        margin-left: 1px;
        transition: ease 0.5s;
    }

    &__link:hover path {
        stroke: $button-bg-color;
    }

    &__link:hover svg {

        transform: translateX(10px);
    }

    &__text {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        @include gradient-text;
        margin-top: 10px;
    }

    &__slider-hero {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $place-color;
        padding-top: 30px;
        margin-bottom: -20px;
    }

    @media (min-width: 768px) {
        padding: 0 60px;
        margin-top: 60px;

        &__text {
            padding-right: 20px;
            font-size: 38px;
            line-height: 43px;
            margin-top: 11px;
        }
    }

    @media (min-width: 991px) {
        margin-top: 70px;
    }

    @media (min-width: 1200px) {
        margin-top: 62px;
    }
}