.phone {
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $text-color;
    text-decoration: none;
    transition: ease 0.4s;
    white-space: nowrap;

    &--on-white {
        color: $btn-grey-color;
    }

    @media (min-width: 768px) {
        & {
            align-items: center;
        }

        &:hover {
            color: $button-bg-color;
        }

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            background: $dots-grey-color;
            border-radius: 10px;
            align-self: center;
            margin-right: 6px;
            margin-left: 6px;
        }
    }
}