.slider {
    margin-top: 50px;
    font-size: 0;

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }

    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;

        [dir="rtl"] & {
            float: right;
        }

        img {
            display: block;
        }

        &.slick-loading img {
            display: none;
        }

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

    .slick-dots {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .slick-dots button {
        background: $links-btn-color;
        opacity: 0.2;
        border-radius: 50%;
        content: '';
        cursor: pointer;
        border: none;
        width: 16px;
        height: 16px;
        margin-right: 7px;
        margin-left: 7px;
        color: transparent;
        transition: ease 0.4s;
    }

    .slick-dots button:hover {
        opacity: 0.5;
    }

    .slick-active button {
        opacity: unset;
    }

    &__box {
        border-radius: 12px;
        background: $menu-list-link;
        display: flex;
        flex-direction: column;
    }

    &__box-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
        width: 100%;
        height: 500px;
        z-index: 1;
    }

    &__box-text {
        padding: 0 30px;
        margin-top: 30px;
    }

    &__box-link {
        width: fit-content;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $links-btn-color;
        transition: ease 0.5s;
    }

    &__box-link:hover {
        color: $button-bg-color;
    }

    &__box-link:hover path {
        stroke: $button-bg-color;
    }

    &__box-link svg {
        transition: ease 0.5s;
    }

    &__box-link:hover svg {
        transform: translateX(10px);
    }

    &__box-headline {
        margin-top: 5px;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        word-wrap: break-word;
        @include gradient-text;
    }

    &__box-name {
        margin-top: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $btn-grey-color;
    }

    &__box-desc {
        margin-top: 5px;
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $btn-grey-color;
    }

    @media (min-width: 768px) {
        margin-top: 72px;

        &__box {
            display: flex;
            flex-direction: column;
        }

        &__box-headline {
            font-size: 38px;
            line-height: 46px;
        }

        &__box-img {
            object-fit: cover;
            height: 500px;
            max-width: 100%;
        }
    }

    @media (min-width: 991px) {
        margin-top: 79px;

        &__box {
            display: flex;
            flex-direction: row;
        }

        &__box-img {
            object-fit: cover;
            height: 528px;
            max-width: 44%;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 12px;
        }

        &__box-text {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &__box-headline {
            margin-bottom: auto;
        }
    }

    @media (min-width: 1200px) {
        &__box-img {
            object-fit: cover;
            height: 344px;
            max-width: 30%;
        }
    }

}